<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial Personalizada</title>
</head>
<body>
    <h1>Projeto 1 - Desenvolvimento Web Python</h1>
    <p><a href="/apresentacao/">Exercicio 1 - Projeto Site de Apresentacao</a></p>
    <p><a href="/blog/">Exercicio 2 - Projeto Blog Simples</a></p>
    <p><a href="/galeria/">Exercicio 3 - Projeto Galeria de Imagens</a></p>
</body>
</html>